.icon {
    max-height: 100%;
    max-width: 100%;
}

.icon-github {
    fill: $fill-dark;
    fill: var(--color-var);
    transition: fill .1s linear;

    &:hover {
        fill: $fill-light;
    }
}

.icon-main {
    @extend %align-all;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid transparent;

    &:hover {
        border-color: $accent;
        border-color: var(--color-var);
        background-color: $accent;
        background-color: var(--color-var);
    }
}
