{% macro active(activePage = 'home') %}
	<a href="index.html" class="brand">
		<img src="dist/images/icons/svg.svg" alt="{{title}}">
	</a>
	<nav class="main-menu">
		<ul>
			<li>
				<a href="index.html"><span class="{%if activePage == 'home' -%} active {%- endif %}">Home</span></a>
			</li>
		</ul>
	</nav>

	<button type="button" class="btn nav-btn">
		<span></span>
		<span></span>
		<span></span>
	</button>
{% endmacro %}
