<link rel="apple-touch-icon" sizes="180x180" href="http://localhost:3000/dist/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="http://localhost:3000/dist/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="http://localhost:3000/dist/favicon/favicon-16x16.png">
<link rel="manifest" href="http://localhost:3000/dist/favicon/manifest.json">
<link rel="shortcut icon" href="http://localhost:3000/dist/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="msapplication-TileImage" content="http://localhost:3000/dist/favicon/mstile-144x144.png">
<meta name="msapplication-config" content="http://localhost:3000/dist/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">