<!DOCTYPE html>
<html lang="pl">
<head>
	<title>@@if context.title{@@title}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="@@if context.description{@@description}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="dist/css/app.min.css">
	@@include('./og.html', {
	 	"title": "@@title",
	 	"description": "@@description",
	 	"type": "website",
	 	"url": "http://example.com",
	 	"image": "http://example.com/dist/images/js.png", 
	 	"image_type": "image/png",
	 	"image_width": 200,
	 	"image_height": 200
	})
    @@include('./favicon.html')
</head>
<body>
	@@include('./sprite.svg.html')
	<header class="header">
		@@include('./menu.html')
	</header></body></html>