	<meta property="og:title" content="@@if context.title{@@title}" />
    <meta property="og:description" content="@@if context.description{@@description}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://example.com" />
    <meta property="og:image" content="http://example.com/dist/images/js.png" /><!-- absolute url required -->
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />