<!-- index.njk -->
{% extends "base.njk" %}
{% import 'macros/menu.njk' as menu %}
{% block content %}
	<header class="header">
		{{menu.active('home')}}
	</header>
	<main>
		<a href="https://github.com/ewape/gulp-boilerplate" class="icon-main" aria-label="Github repository" rel="noopener" target="_blank">
			<svg class="icon icon-github">
				<use xlink:href="#icon-github"></use>
			</svg>
		</a>
	</main>
{% endblock %}
