:root {
	--accent: $accent-green;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: $font-1;
	line-height: 1.4;
	background: $accent-blue;
	//background: radial-gradient($accent-blue, darken($accent-blue, 8%));
	background: var(--accent);
    min-height: 100vh;
    box-shadow: inset 0 0 50px rgba(#fff, .1);
    color: #fff;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 700;
}

h1, .h1 {
	font-size: 3rem;
}

h2, .h2 {
	font-size: 2.7rem;
}

h3, .h3 {
	font-size: 2.4rem;
}

h4, .h4 {
	font-size: 2.2rem;
}

h5, .h5 {
	font-size: 2rem;
}

h6, .h6 {
	font-size: 1.8rem;
}

a {
	text-decoration: none;
	color: #fff;
	-webkit-tap-highlight-color: transparent;

    &:not(.icon-github) {
    	@extend .underline;
    }

	&:hover, &:active, &:focus {
		color: #fff;
		outline: 0;
	}
}