.align-all {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.align-v {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.align-h {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.icon {
	height: 60px;
	width: 60px;
	fill: $accent;
	fill: var(--color-var);
	border-radius: 50%;
	transition: fill .1s linear;

	svg {
		max-width: 100%;
		max-height: 100%;
	}

	&:hover {
		fill: #fff;
		background-color: $accent;
		background-color: var(--color-var);
		border: 2px solid $accent;
		border: 2px solid var(--color-var);
	}
}

.visible-desktop {
	@media (max-width: $mobile-max) {
		display: none !important;
	}
}

.visible-mobile {
	@media (min-width: $desktop-min) {
		display: none !important;
	}
}

.hidden {
	display: none !important;
}

.success {
	color: $success;
}

.error {
	color: $error;
}

.btn {
	-webkit-appearance: none;
    border: 2px solid currentColor;
	color: currentColor;
    background-color: transparent;
    padding: 1rem 3rem;
    border-radius: 0;
    font-family: $font-1;
    cursor: pointer;
    outline: 0;
    box-shadow: none;
    white-space: nowrap;
    display: inline-block;
    line-height: 1;
    margin-top: 1rem;
    margin-bottom: 1rem;

    &:active, 
    &:focus, 
    &:hover {
    	border-color: $accent;
    	color: $accent;
    }
}

.underline {
	position: relative;

	&:after {
		content: '';
		height: 0;
		border-bottom: 3px solid;
		border-bottom: 3px solid var(--color-var);
		position: absolute;
		right: 0;
		left: 0;
		bottom: -5px;
		transform: translateY(-5px) scaleX(0);
		transition: all .15s linear;
	}

	&.active {
		&:after {
			transform: translateY(0) scaleX(1);
		}
	}

}


@media (min-width: $desktop-min) {

	.underline {

		&:hover {
			&:after {
				transform: translateY(0) scaleX(1);
			}
		}
	}

}
