%align-all {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

%align-v {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

%align-h {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.visible-desktop {
    @media (max-width: $tablet-max) {
        display: none !important;
    }
}

.visible-mobile {
    @media (min-width: $desktop-min) {
        display: none !important;
    }
}

.hidden {
    display: none !important;
}

.success {
    color: $success;
}

.error {
    color: $error;
}

%underline {
    position: relative;
    &::after {
        content: '';
        height: 0;
        border-bottom: 2px solid;
        border-bottom: 2px solid var(--color-var);
        position: absolute;
        right: 0;
        left: 0;
        bottom: -3px;
        transform: translateY(-5px) scaleX(0);
        transition: all .15s linear;
    }
}

%underline-active {
    &::after {
        transform: translateY(0) scaleX(1);
    }
}

%content-link {
    text-decoration: underline;
    color: $accent;

    &:hover,
    &:active,
    &:focus {
        color: $accent-dark;
    }
}

@media (min-width: $desktop-min) {
    %underline {
        &:hover {
            &::after {
                transform: translateY(0) scaleX(1);
            }
        }
    }
}