.section {
    position: relative;
    min-height: 80vh;
}

.container {
    max-width: 1170px;
    padding: 0 $padding-mobile;
    margin: 0 auto;
}

@media (min-width: $desktop-min) {
    .section {
        min-height: calc(100vh - 60px);
    }
}
