%svg-common {
	background: url("../../dist/images/svg/sprite-78f8c3a0.svg") no-repeat;
}

.svg-github {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-github-dims {
	width: 240px;
	height: 240px;
}

