$font-1: 'Open Sans', sans-serif;

$padding-mobile: 2rem;
$padding-tablet: $padding-mobile * 2;
$padding-desktop: $padding-mobile * 4;

$mobile-max: 1024px;
$desktop-min: 1025px;

$accent: #205ea4;
$accent-dark: darken($accent, 15%);

$error: #db4437;
$success: #4caf50;

$fill-light: #fff;
$fill-dark: #000;

:root {
    --color-var: $accent;
}
